{% extends "base.html" %}

{% block title %}Successfully Deployed{% endblock %}

{% block header %}Congratulations!{% endblock %}

{% block message %}You deployed Twilio on Heroku using the Flask Web Framework{% endblock %}

{% block blurb %}Configure your SIP Domain with the following Heroku URL. Replace +1NXXNXXXXXX with your Twilio provisioned callerId:{% endblock %}

{% block content %}
    <dl id="url_list">
        {% for key, value in params.items() %}
        <dt>{{key}}</dt>
        <dd><a href="{{value}}"><font color="FFFFFF">{{value}}</font></a></dd>
        {% endfor %}
    </dl>

    <a href="https://www.twilio.com/console/phone-numbers/verified"
       class="button" target="_blank">Verify your number with Twilio</a>
    <a href="https://www.twilio.com/user/account/phone-numbers/incoming"
       class="button" target="_blank">Buy a phone number from Twilio</a>
    <a href="https://www.twilio.com/console/voice/sip/endpoints"
       class="button" target="_blank">Configure your Twilio SIP Domain</a>

{% endblock %}
